stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  LATEST_IMAGE: $CI_REGISTRY_IMAGE:latest

# --- STAGE 1: BUILD ---
build_image:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    # Build the image using the Dockerfile in serve/ folder
    - docker build -t $DOCKER_IMAGE -t $LATEST_IMAGE -f serve/Dockerfile .
    - docker push $DOCKER_IMAGE
    - docker push $LATEST_IMAGE

# --- STAGE 2: DEPLOY ---
deploy_k8s:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    # 1. Create the secret from the file variable
    - kubectl create secret generic google-credentials --from-file=key.json=$GCP_KEY_FILE --dry-run=client -o yaml | kubectl apply -f -
    
    # 2. Update the K8s manifest with the new image tag
    - sed -i "s|IMAGE_PLACEHOLDER|$DOCKER_IMAGE|g" k8s.yaml
    
    # 3. Apply changes to the cluster
    - kubectl apply -f k8s.yaml
    
    # 4. Force restart to pick up changes
    - kubectl rollout restart deployment/deforestation-inference
  only:
    - main